
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePermission()" *ngIf="!isLoading">
    <div fxLayout="column">
      <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">

        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="calc(50% -15px)" fxFlex.lg="calc(50% -15px)">
          <input matInput type="text" formControlName="module" placeholder="Module">
          <mat-error *ngIf="form.get('module').invalid">Please enter a Module.</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="calc(50% -15px)" fxFlex.lg="calc(50% -15px)">
          <input matInput type="text" formControlName="name" placeholder="Name">
          <mat-error *ngIf="form.get('name').invalid">Please enter a Name.</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field>
          <textarea matInput rows="4" formControlName="description" placeholder="Description"></textarea>
          <mat-error *ngIf="form.get('description').invalid">Please enter a Description.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Save</button>

  </form>
</mat-card>
